nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 10px;
    background-color: rgb(222, 222, 241);
    color: black;
    border-radius: 10px;
   
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: red;
    font-size: 1.2rem;
    list-style: none;
}